@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

@import url(reset.css);
@import url(variables.css);
@import url(header/index.css);
@import url(main/index.css);

body {
  font-family: "Epilogue", sans-serif;
  font-size: 18px;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
